<div class="after-nav container">
<h1>Edit Month</h1>

<p> Update details for your <%= @month.name %> below.</p><small><p>Note: If you have another month with the same date already, you will not be able to add a duplicate.</p><p>Your month's amounts are auto populated by the categories they have.</p></small>

<%= form_for @month do |f| %>
  <p><%= f.label :name, "Name: " %><br> <%= f.text_field :name %> </p>
  <p><%= f.label :month_date, "Date: " %> <br> <%= f.date_field :month_date %></p>
  <p><%= f.label :projected_income, "Projected Income (total):", class: "text-muted" %> <br> <%= f.number_field :projected_income, disabled: true, class: "text-muted bg-info" %></p>
  <p><%= f.label :projected_exp, "Projected Expense (total):", class: "text-muted" %> <br> <%= f.number_field :projected_exp, disabled: true, class: "text-muted bg-info" %></p>
  <%= f.submit "Update", class: "btn btn-primary" %>

<% end %>

</div>