<div class="after-nav container">
<h1><%= @user.first_name %>'s Budget <small><%= link_to "Edit", edit_budget_path(@budget) %></small></h1>

<% if @budget.desc && @budget.desc.length > 0 %>
      <h4>Description:</h4>
      <p><%= @budget.desc %></p>
    <% end %>
      <p>Below are all the months in <%= @budget.name %>. Feel free to check out the different chart options  below the graph.</p>

<div class="row">
  <div class="col-sm-6">
    <% @months.each do |month| %>
      
      <h3><%= link_to month.name, month %>: <%= month.month_date.strftime("%B") %> | <%= month.month_date.year %> 
      <small><%= link_to "Edit", edit_month_path(month) %></small></h3>
      <p>Projected Net: <span>$<%= month.projected_income - month.projected_exp %></span> Actual Net: <span>$<%= month.actual_income - month.actual_exp %> </span>
      </p> <hr>
    <% end %>

<%= link_to "Add Month", new_budget_month_path(@budget) %>
  </div>
  <div class="col-sm-offset-1 col-sm-5 container-fluid">
    <h4 class="chart-title text-center"></h4> <br>
    <div id="mon-bar" data-url="<%= budgetchart_path(@budget) %>"></div>
    <hr>
    <div id="chart-btn">
      <button class="btn btn-default btn-block">Actual Income Vs Actual Expense</button>
      <button class="btn btn-default btn-block">Projected Income Vs Projected Expense</button>
      <button class="btn btn-default btn-block">Projected Income Vs Actual Income</button>
      <button class="btn btn-default btn-block">Projected Expense Vs Actual Expense</button> <br>
    </div>
  </div>
</div>

</div>